<h1>Game Lobby</h1>
<h2>Game Code: <%= @game_code %></h2>

<h3>Users</h3>
<p>Here is a user's table that displays all of the users and their current order, but also gives the admin the option to reorder the users field. This after this form submits, it redirects back to this game page.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Users</th>
      <th>Score</th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.score %></td>
        <td>#</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Admin</h3>
<p>For now, players will grab a card from the table to figure out what everyone is writing about.  But eventually, we make this button say "Pick a Thing", which randomly selects a thing from the things table and displays it.  Could then also make a submission on this page for the player to submit the thing id and then the thing would display on the submissions page.</p>

<p>After everyone has made their submission, the admin will click "guessing round" and this will show all the submissions.</p>

<%= link_to "Guessing Round", guessing_round_path(@game_code), class: "btn btn-success" %>

<h3>Player</h3>

<p>Need to figure out how to handle rounds.  Maybe just have a variable that goes from page to page and increases everytime the admin/player goes back to the lobby and pass the round through the url with params. Also need to pass the game_code to the form.</p>

<%= link_to "Submit your Things", new_submission_path, class: "btn btn-success" %>
