<% if current_user.admin? %>
  <div class="jumbotron">
    <h1>The Game of Things</h1>
    <h2>things-game.herokuapp.com</h2>
    <h2>Game Code: <%= @game_code %></h2>
    <hr class="my-4">
    <%= link_to "Select a Thing", code_things_path(game_code: @game_code, round: @round), class: "btn btn-success", method: :post %>
    <%= link_to "End Game", end_game_games_path(game_code: @game_code), class: "btn btn-danger", method: :delete %>
  </div>
<% end %>

<div class="jumbotron">
  <h1>Game Lobby</h1>
  <% if params[:round] == 0 %>
    <h3>Just Finished Round: <%= params[:round] %>
  <% end %>
  <h3>Next Round: <%= @round %> </h3>
  <h3>Current User: <%= current_user.username.titlecase %></h3>
  <% if current_user.player? %>
    <hr class="my-4">
    <%= link_to "Submit your Things", new_submission_path(game_code: @game_code, round: @round), class: "btn btn-success btn-lg vcenter" %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
  </thead>

  <!-- <tbody>
    <#% if @users %>
      <#% @users.each do |user| %>
        <tr>
          <td><#%= user.user.username.titlecase %></td>
          <td><#%= user.score %></td>
        </tr>
      <#% end %>
    <#% else %>
      <#% @startUsers.each do |user| %>
        <tr>
          <td><#%= user.user.username %></td>
          <td>0</td>
        </tr>
      <#% end %>
    <#% end %>
  </tbody> -->
</table>
