<h1>Guessing Round</h1>
<h2>Still needs guessing</h2>
  <%= form_tag update_guessingRound_games_path, method: :put do %>
    <div class="row">
      <%= @submissions.each do |submission| %>
        <%= fields_for "submissions[]", submission do |f| %>
          <div class="well col-md-4">
            <strong>Submission</strong><br>
            <p><%= submission.submission %></p>
            <div class="form-group"
              <%= f.label :guessed_correctly %>
              <%= f.check_box :guessed_correctly %>
            </div>
            <div class="form-group"
              <%= f.label :guesser_id %>
              <%= f.collection_select( :guesser_id, @users, :user_id, :username, options = { include_blank: true, multiple: false }) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= hidden_field_tag(:game_code, @game_code) %>
    <%= hidden_field_tag(:round, @round) %>
    <%= submit_tag "Update" %>
  <% end %>

<h2>Guessed Correctly</h2>
<%= form_tag update_guessingRoundMidRound_games_path, method: :put do %>
  <div class="row">
    <%= @submissionsDone.each do |submissionDone| %>
      <%= fields_for "submissionsDone[]", submissionDone do |f| %>
        <div class="well col-md-4">
          <strong>Submission:</strong><br>
          <p> <%= submissionDone.submission %></p>
          <strong>Person who guessed it right:</strong><br>
          <p> <%= submissionDone.guesser.username %></p>
          <strong>Person who put that answer:</strong><br>
          <p> <%= submissionDone.user.username %></p>
          <div class="form-group"
            <%= f.label :guessed_correctly %>
            <%= f.check_box :guessed_correctly %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= hidden_field_tag(:game_code, @game_code) %>
  <%= hidden_field_tag(:round, @round) %>
  <%= submit_tag "Update" %>
<% end %>
<br>
<%= link_to "End Round", game_lobby_path(game_code: @game_code, round: @round), class: "btn btn-success" %>
