<div class="jumbotron">
  <h1>The Game of Things</h1>
  <p>In this hilarious game, you read a topic card and then write down your response. It can be anything that comes to mind, there's no right or wrong answer. Then all the responses are read aloud and you have to figure out who said what. You won't believe the THINGS.</p>
  <hr class="my-4">
  <h2>Welcome, <%= current_user.username.titlecase %>!</h2>
  <% if current_user.admin? %>
    <%= link_to "Start Game", codes_path, class: "btn btn-success btn-lg", method: :post %>
  <% end %>
  <% if current_user.player? %>
    <h4>Input your game code</h4>
    <%= form_tag code_users_path, method: :post do %>
      <div class="form-group">
        <%= text_field_tag :game_code, params[:game_code] %>
      </div>
      <div class="form-group">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i> Join a Game
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
