<h1>Things...</h1>

<h2><%= @thing.first.thing.thing %></h2>


<%= form_for @submission do |f| %>

<div class="form-group">
  <%= f.label :submission %>
  <%= f.text_area :submission, class: 'form-control'  %>
</div>

<div class="form-group">
  <%= f.submit class: 'btn btn-primary' %>
</div>

<%= link_to "Back to Lobby", game_lobby_path(game_code: @game_code, round: @round), class: 'btn btn-success' %>

<% end %>
